<body>
    <form action="/files/" enctype="multipart/form-data" method="post">
        <input name="files_list" type="file" multiple><br><br>
        <input name="files_name" type="file" multiple><br><br>
        <input type="submit" value="点击这里显示文件名字与大小">
    </form>
    <br><br><br>


    <form action="/create_file/" enctype="multipart/form-data" method="post">
        <input name="file" type="file" multiple><br><br>
        <input name="fileb" type="file" multiple><br><br>
        <input name="notes" type="text" multiple><br><br>
        <input type="submit" value="点击这里显示文件属性">
    </form>
    
</body>